[submodule "MiniMonitor/modbusino"]
	path = MiniMonitor/modbusino
	url = git@github.com:porohkun/modbusino.git
[submodule "MiniMonitor/modbus-arduino"]
	path = MiniMonitor/modbus-arduino
	url = git@github.com:andresarmento/modbus-arduino.git
[submodule "WPF.Controls.IntUpDown"]
	path = WPF.Controls.IntUpDown
	url = ../WPF.Controls.IntUpDown.git
[submodule "LibreHardwareMonitor"]
	path = LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor.git
